<?xml version="1.0"  encoding="utf-8" ?>
<common>
  <!--
		-->
  <core
		cacheFactor="5"  version="1" disableBackgroundThreads="false">
    <appSettings>
      <add key="MSSqlServer" value="I5xj7IFqQ5yUyoE8OTKPlgvsruj37BmLgxOvehal9oOfQ60I2PzCwkzOT5I/KxScLcC7xV4tCJc="/>
      <!--<add key="MSSqlServer" value="24/hkj9zSctrvHTTT/CYcsPUxDwgMwQw446okaPuISlifMvwJROfRm1jv0LB3LkbHt+bYIuArMTeRaFcu4SOAw0dpRbQFNq7"/>-->
      <add key="MSSqlServerOwner" value=""/>
      <add key="key" value="23456456"/>
    </appSettings>
    <providers>
      <add
      name = "MSSQLCommonDataProvider"
      type = "ComOpp.DALSQLServer.CommonSqlDataProvider,ComOpp.DALSQLServer"
      connectionStringName = "MSSqlServer"	databaseOwnerStringName = "MSSqlServerOwner"
				/>
    </providers>
  </core>
  <jobs minutes = "1" singleThread = "true">
    <job name = "CustomerPhoneVestJob" type = "ComOpp.TaskAndJob.Job.CustomerPhoneVestJob,ComOpp.TaskAndJob" enabled = "true" enableShutDown = "false" singleThread = "false" minutes="5"/>
    <job name = "CustomerForcedoutJob" type = "ComOpp.TaskAndJob.Job.CustomerForcedoutJob,ComOpp.TaskAndJob" enabled = "true" enableShutDown = "false" singleThread = "false" minutes="1"/>
    <job name = "CustomerDegradeJob" type = "ComOpp.TaskAndJob.Job.CustomerDegradeJob,ComOpp.TaskAndJob" enabled = "true" enableShutDown = "false" singleThread = "false" minutes="1"/>
    <job name = "CarInfoCollectJob" type = "ComOpp.TaskAndJob.Job.CarInfoCollectJob,ComOpp.TaskAndJob" enabled = "true" enableShutDown = "false" singleThread = "false" minutes="1"/>
  </jobs>

</common>
